In [219]:
# 1
import pandas as pd

In [220]:
# 2
df = pd.read_csv('ks-projects-201801.csv')

In [221]:
# 3
df.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00

In [222]:
# 4
df.tail(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.0
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.0
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.0
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.0
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.0

In [223]:
# 5
first_five_of_cat = df['category'].head(5).values
print(first_five_of_cat)

['Poetry' 'Narrative Film' 'Narrative Film' 'Music' 'Film & Video']

In [224]:
# 6
# ID - for the id number of the kickstarter project.
# name - the name of the kickstarter project.
# category - for classified every item to a sub-category.
# main_category - is for classified every item to a main-category.
# currency - the type of coin in the kickstarter project.
# deadline - the deadline date for the project for been executed.
# goal - the sum  of investments money for the project for executed.
# launched - the date the project started in the kickstarter website.
# pledged - the money that have been yet (currently) investment in the project.
# state - the status of the project at the current time.
# backers - the number of supporters of the project at the current time.
# country - the country of the project (where is the company is settled)
# usd pledged - the money that have been yet (currently) investment in the project in USD money.
# usd_pledged_real - the money that have been yet (currently) investment in the project in real value of USD money.
# usd_goal_real - the sum  of investments money for the project for executed in real value of USD money.

In [225]:
# 7
# ID - numerical data (discerte data)
# name - categorial data
# category - ordinal data
# main_category - ordinal data
# currency - ordinal data
# deadline - ordinal data
# goal - numerical data (continuous data)
# launched - ordinal data
# pledged - numerical data (continuous data)
# state - ordinal data 
# backers - numerical data (discerte data)
# country - ordinal data 
# usd pledged - numerical data (continuous data)
# usd_pledged_real - numerical data (continuous data)
# usd_goal_real - numerical data (continuous data)

In [226]:
# 8
df.shape

(378661, 15)

In [227]:
# 9
df.isna().sum().sum()

3801

In [228]:
# 10
count = 0
for col in df:
    print('number of NaN values in column', col, ':', df[col].isnull().sum())

number of NaN values in column ID : 0
number of NaN values in column name : 4
number of NaN values in column category : 0
number of NaN values in column main_category : 0
number of NaN values in column currency : 0
number of NaN values in column deadline : 0
number of NaN values in column goal : 0
number of NaN values in column launched : 0
number of NaN values in column pledged : 0
number of NaN values in column state : 0
number of NaN values in column backers : 0
number of NaN values in column country : 0
number of NaN values in column usd pledged : 3797
number of NaN values in column usd_pledged_real : 0
number of NaN values in column usd_goal_real : 0

In [229]:
# 11
ids_series = pd.Series(df['ID']).head()
ids_series

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64

In [230]:
# 12
df.drop(['ID'], axis = 1, inplace = True)
df

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.00
378657,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
378658,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
378659,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
378660,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [231]:
# 13
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              378657 non-null  object
 1   category          378661 non-null  object
 2   main_category     378661 non-null  object
 3   currency          378661 non-null  object
 4   deadline          378661 non-null  object
 5   goal              378661 non-null  float64
 6   launched          378661 non-null  object
 7   pledged           378661 non-null  float64
 8   state             378661 non-null  object
 9   backers           378661 non-null  int64
 10  country           378661 non-null  object
 11  usd pledged       374864 non-null  float64
 12  usd_pledged_real  378661 non-null  float64
 13  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 40.4+ MB

In [232]:
# 14
df.describe()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [267]:
# 15

successful = df['state'].eq('successful').sum()
failed = df['state'].eq('failed').sum()

# canceled = df['state'].eq('canceled').sum()
# live = df['state'].eq('live').sum()
# undefined = df['state'].eq('undefined').sum()
# suspended = df['state'].eq('suspended').sum()

print("\'successful\' projects:", successful,", \'failed\' projects:", failed)

# number of rows in df is 378662 and we have only 331675 results of successful and failed values
# that because we have some move values aka canceled, live, undefined and suspended.

'successful' projects: 133956 , 'failed' projects: 197719

In [288]:
# 16
print("the biggest goal (expensivest project) amount is:", df['usd_goal_real'].max(), "in real USD value")
print("the sum of all pledged in all kickstarter projects is:", df['usd pledged'].sum(), "USD")
print("the number of all backers in all the kickstarter projects is:", df['backers'].sum(), "people")
print("ths first launched project at kickstarter website launched in:", df['launched'].min(), "time")
print("the most type of coins (money) paid in the kickstarter website is in:", df['currency'].max(), "value")
print("the most main category of kickstarter projects is:", "\'", df['main_category'].max(), "\'", "category")
print("the most sub category of kickstarter projects is:", "\'", df['category'].max(), "\'", "category")
print("for the most, projects in kickstarter is in status of:", "\'", df['state'].max(), "\'")
print("the least of kickstarter project came from:", "\'", df['country'].min(), "\'", "country")
print("the number of porjects that related to music category is", df['category'].eq('Music').sum())
print("the number of porjects that related to Technology category is", df['category'].eq('Technology').sum())

the biggest goal (expensivest project) amount is: 166361390.71 in real USD value
the sum of all pledged in all kickstarter projects is: 2637816330.0400004 USD
the number of all backers in all the kickstarter projects is: 39993219 people
ths first launched project at kickstarter website launched in: 1970-01-01 01:00:00 time
the most type of coins (money) paid in the kickstarter website is in: USD value
the most main category of kickstarter projects is: ' Theater ' category
the most sub category of kickstarter projects is: ' Zines ' category
for the most, projects in kickstarter is in status of: ' undefined '
the least of kickstarter project came from: ' AT ' country
the number of porjects that related to music category is 15727
the number of porjects that related to Technology category is 6930